body {
  width: 100%;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  margin-top: 60px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #40356f;
  font-size: 25px;
}

a {
  color: #4262c5;
}

img {
  display: block;
  margin: 0 auto;
}
