/*
.container-fluid {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}*/

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #40356f;
  font-size: 25px;
}

a {
  color: #4262c5;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

.heading {
  font-size: 30px;
  text-transform: uppercase;
}

.weather-lg {
  font-size: 90px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #4262c5;
}

.emoji-weather {
  padding-top: 20px;
}

.city-name {
  padding-top: 20px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
  font-weight: 600;
}

.humidity-wind {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
  font-weight: 400;
  font-kerning: 20px;
  list-style: none;
  padding-left: 0;
}

.min-max {
  margin-top: -15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
  font-weight: 400;
  font-kerning: 30px;
}

.type {
  text-align: center;
}

.date {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
  margin-bottom: 0;
  margin-top: -10px;
}

.description {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
}

.button-submit {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #4262c5;
  color: azure;
}

.button-submit:hover {
  border: 1px solid #4262c5;
  color: #4262c5;
  background-color: #fff;
  font-weight: 600;
}

.button-current {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #00aaa0;
  color: azure;
}

.button-current:hover {
  border: 1px solid #00aaa0;
  color: #00aaa0;
  background-color: #fff;
  font-weight: 600;
}

.grados-link {
  text-decoration: none;
  font-size: 30px;
  color: #4262c5;
  vertical-align: top;
  line-height: 100px;
}

.active {
  text-decoration: none;
}

.active:hover {
  cursor: default;
  color: #4262c5;
}

/**Estilos forecast**/

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.day {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
  font-weight: 600;
}

.box-day {
  border-radius: 20px;
  border: 1px solid #c4c1e0;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  align-items: center;
}

.forecast-max {
  font-weight: 900;
  padding-right: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
}

.forecast-min {
  font-weight: 600;
  opacity: 0.6;
  padding-left: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40356f;
}

.link-footer {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
